<!DOCTYPE html>
{{{documentComment}}}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{name}}</title>
    <link rel="stylesheet" href="./assets/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.12/css/perfect-scrollbar.min.css">
    <link rel="icon" href="./assets/icon.png">
    <meta name="description" content="{{pkg.description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <main>
      <header class="fixed">
        <section>
          <h1><a href="./"><img src="./assets/icon.svg" alt="µ" class="logo"><span>Micro API</span></a></h1>
          <p class="top-links">
            <a href="https://github.com/micro-api/micro-api">Repository</a><!--
            --><a href="https://github.com/micro-api/micro-api/issues">Issues</a>
          </p>
        </section>
      </header>
      <article>
        <p class="top-line"><em>What is Micro API?</em></p>
        {{{content}}}
      </article>
      <nav>
        <div class="container">
          <h1><a href="./"><img src="./assets/icon.svg" alt="µ" class="logo"></a></h1>
          <h4>Contents</h4>
          {{{menu}}}
        </div>
      </nav>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.12/js/perfect-scrollbar.min.js"></script>
    <script>Ps.initialize(document.querySelector('nav'))</script>
  </body>
</html>
