@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  src: local('Varela Round'), local('VarelaRound-Regular'),
  	url('../assets/VarelaRound.woff2') format('woff2'),
  	url('../assets/VarelaRound.woff') format('woff');
}

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata'),
  	url('../assets/Inconsolata.woff2') format('woff2'),
  	url('../assets/Inconsolata.woff') format('woff');
}
