@custom-selector :--header header.fixed;

:--header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

:--header section {
  max-width: var(--max-width);
  margin: auto;
  padding: calc(var(--line-height) * 1);
  height: calc(var(--line-height) * 3);
  background: linear-gradient(to left,
    var(--color-background), var(--color-header));
  position: relative;
}

:--header section:after {
  content: ' ';
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: calc(100% - var(--line-height) * 1);
  height: 1px;
  background-color: var(--color-border);
}

:--header h1 {
  float: left;
}
