@media screen and (max-width: 960px) {

  body:not(.vocabulary) {
    padding: calc(var(--line-height) * 2) 0 calc(var(--line-height) * 1);
    background-size: 100%;
  }

  main {
    max-width: 100%;
    text-align: justify;
  }

  header.fixed, nav {
    display: none;
  }

  article {
    padding: 0 calc(var(--line-height) * 1);
    margin-left: 0;
  }

  article .header {
    display: block;
  }

  h2 {
    margin-top: 0;
    padding-top: calc(var(--line-height) * 2 / 3);
  }

  .top-links, .top-line {
    display: none;
  }

}

@media screen and (max-width: 640px) {
  body {
    font-size: calc(var(--body-size) - 2px);
  }
}
