@media screen and (max-width: 640px) {

  body {
      padding: calc(var(--line-height) * 2) 0 calc(var(--line-height) * 1);
      font-size: calc(var(--body-size) - 1px);
  }

  main {
    max-width: 100%;
  }

  h2 {
    font-size: calc(1em * 3 / 2);
    margin: calc(var(--line-height) * 1) 0 calc(var(--line-height) * 2 / 3);
    padding: 0 0 calc(var(--line-height) * 1 / 3);
  }

}
