/* Minimalist reset. */
* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-background);
  color: var(--color-primary);
  font-size: var(--body-size);
  font-family: var(--body-font);
  line-height: var(--line-height);
  padding: calc(var(--line-height) * 1) 0 calc(var(--line-height) * 2);
}

main {
  margin: auto;
  max-width: var(--max-width);
  hyphens: auto;
  position: relative;
}

main:before {
  position: absolute;
  z-index: -1;
  content: ' ';
  display: block;
  top: 0;
  right: 100%;
  width: 200%;
  height: 100%;
}

a {
  color: inherit;
  transition: color var(--fade-speed) ease;
}

a:hover {
  color: var(--color-dark);
}

article {
  padding: 0 calc(var(--line-height) * 1);
  position: relative;
}

article > pre:first-of-type {
  color: var(--color-value);
}

article table td:nth-of-type(1),
article table td:nth-of-type(2) { width: 10em; }

pre, code {
  font-family: var(--mono-font);
  font-size: calc(1em / var(--size-ratio));
  line-height: calc(var(--line-height) * var(--size-ratio));
}

pre {
  box-shadow: 0 -1px 0 var(--color-alt-head) inset;
  background: var(--color-alt);
  padding: calc(var(--line-height) / 2 * var(--size-ratio));
  margin: 0 0 calc(var(--line-height) * var(--size-ratio));
  border-radius: var(--big-border-radius);
  overflow: auto;
}

pre.group {
  border-radius: var(--big-border-radius) var(--big-border-radius) 0 0;
  margin: 0;
  border-bottom: 0;
  background-color: var(--color-alt-head);
}

pre.group + pre.group {
  border-radius: 0 0 var(--big-border-radius) var(--big-border-radius);
  margin: 0 0 calc(var(--line-height) * var(--size-ratio));
  background-color: var(--color-alt);
}

pre > code {
  background: none;
  padding: 0;
  font-size: 1em;
}

code {
  background-color: var(--color-alt);
  border-radius: var(--border-radius);
  padding: 0.1em 0.3em;
}

code.lang-http span {
  color: var(--color-primary);
}

article img {
  display: block;
  margin: 0 auto calc(var(--line-height) * 4);
  max-width: 100%;
  height: calc(var(--line-height) * 4);
}

p, table, ul, ol {
  margin: 0 0 calc(var(--line-height) * 1);
}

h1 {
  color: var(--color-dark);
  font-size: 1em;
  margin-bottom: calc(var(--line-height) * 3 / 2);
}

h1 a {
  text-decoration: none;
}

h1 span {
  position: relative;
  top: calc(1em / 6);
}

h2 {
  position: relative;
  color: var(--color-dark);
  font-size: calc(1em * 3 / 2);
  font-weight: normal;
  line-height: var(--line-height);
  padding-top: calc(var(--line-height) * 2 / 3);
  padding-bottom: calc(var(--line-height) * 1 / 3);
  margin-bottom: calc(var(--line-height) * 2 / 3);
}

h2:after {
  display: block;
  content: ' ';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--color-border);
}

h2 a.anchor {
  float: right;
  margin-left: calc(1em * 1 / 3);
  text-decoration: none;
  color: var(--color-border);
}

ul {
  margin-left: 1em;
}

table {
  min-width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  position: relative;
}

table td, table th {
  padding: calc(var(--line-height) / 2);
}

table th {
  background-color: var(--color-alt);
  white-space: nowrap;
}

tbody code {
  background: none;
  padding: 0;
}

tbody tr:nth-of-type(2n) {
  background-color: var(--color-alt);
}

nav .logo {
  height: calc(var(--line-height) * 3 / 2);
  line-height: calc(var(--line-height) * 2 / 3);
}

.logo {
  height: calc(var(--line-height) * 1);
  line-height: calc(var(--line-height) * 1);
  margin-right: calc(var(--line-height) * 1 / 2);
  vertical-align: middle;
}

.top-links {
  text-align: right;
  opacity: 0.5;
  margin-bottom: calc(var(--line-height) * 2);
}
