body {
  background-color: var(--color-background);
  background-image: url('./bg.svg');
  background-position: center;
  background-repeat: repeat;
  background-size: 60%;
  background-attachment: fixed;
  color: var(--color-primary);
  font-size: var(--body-size);
  font-family: var(--body-font);
  line-height: var(--line-height);
  padding: calc(var(--line-height) * 4) 0 calc(var(--line-height) * 5);
}

main {
  margin: auto;
  max-width: var(--max-width);
  padding: 0 calc(var(--line-height) * 1);
  text-align: justify;
  hyphens: auto;
}

a {
  color: inherit;
}

pre, code {
  font-family: var(--mono-font);
  font-size: calc(1em / var(--size-ratio));
}

pre {
  border: 1px var(--color-border) solid;
  background-color: var(--color-alt);
  padding: calc(var(--line-height) / 2 * var(--size-ratio));
  margin: 0 0 calc(var(--line-height) * var(--size-ratio));
  border-radius: var(--big-border-radius);
  overflow: auto;
}

pre.group {
  border-radius: var(--big-border-radius) var(--big-border-radius) 0 0;
  margin: 0;
  border-bottom: 0;
  background-color: var(--color-alt-head);
}

pre.group + pre.group {
  border-radius: 0 0 var(--big-border-radius) var(--big-border-radius);
  margin: 0 0 calc(var(--line-height) * var(--size-ratio));
  border-bottom: 1px var(--color-border) solid;
  background-color: var(--color-alt);
}

pre > code {
  background: none;
  padding: 0;
  font-size: 1em;
}

code {
  background-color: var(--color-alt);
  border-radius: var(--border-radius);
  padding: 0.1em 0.3em;
  line-height: calc(var(--line-height) * var(--size-ratio));
}

img {
  display: block;
  margin: 0 auto calc(var(--line-height) * 3);
  max-width: 100%;
  height: calc(var(--line-height) * 5);
}

p, table, ul, ol {
  margin: 0 0 calc(var(--line-height) * 1);
}

h2 {
  color: var(--color-dark);
  font-size: 2em;
  line-height: var(--line-height);
  font-weight: normal;
  margin: calc(var(--line-height) * 3 / 2) 0 calc(var(--line-height) / 2);
  padding: 0 0 calc(var(--line-height) / 4);
  border-bottom: 1px var(--color-border) solid;
}

h2 a.anchor {
  float: right;
  text-decoration: none;
  color: var(--color-border);
}

ul {
  margin-left: 1em;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

table td, table th {
  padding: calc(var(--line-height) / 2);
}

tbody code {
  background: none;
  padding: 0;
}

tbody td {
  border-top: 1px var(--color-border) solid;
}

tbody tr:nth-of-type(2n+1) {
  background-color: var(--color-alt);
}

tbody tr:last-of-type td {
  border-bottom: 1px var(--color-border) solid;
}
