:root {

  /* colors */
  --color-background:   #ffffff;
  --color-dark:         #000000;
  --color-primary:      #3a3a3a;
  --color-link:         #3aaaff;
  --color-border:       #d9d9d9;
  --color-alt:          #f5f5f5;

  /* fonts */
  --body-font: 'Varela Round', sans-serif;
  --mono-font: 'Inconsolata', monospace;

  /* measurements */
  --max-width: 46em;
  --mobile-breakpoint: 640px;
  --body-size: 16px;
  --mono-size: 18px;
  --size-ratio: calc(16 / 18);
  --line-height: 1.5em;
  --border-radius: 3px;
  --big-border-radius: 5px;

}
