:root {

  /* colors */
  --color-background:   #36404D;
  --color-dark:         #FFFFFF;
  --color-primary:      rgba(255, 255, 255, 0.75);
  --color-secondary:    rgba(255, 255, 255, 0.35);
  --color-link:         #3AAAFF;
  --color-attribute:    #8FB2DB;
  --color-value:        #A5F2D6;
  --color-literal:      #DFA5F2;
  --color-border:       rgba(255, 255, 255, 0.09);
  --color-alt-head:     rgba(255, 255, 255, 0.06);
  --color-alt:          rgba(255, 255, 255, 0.03);

  /* fonts */
  --body-font: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  --mono-font: DejaVu Sans Mono, Andale Mono, monospace;

  /* measurements */
  --max-width: 50em;
  --body-size: 16px;
  --size-ratio: calc(17 / 16);
  --line-height: calc(1em * 7 / 4);
  --border-radius: 3px;
  --big-border-radius: 6px;
  --fade-speed: 0.15s;

}
