:root {

  /* colors */
  --color-background:   #343E4A;
  --color-dark:         #ffffff;
  --color-primary:      rgba(255, 255, 255, 0.74);
  --color-link:         #3aaaff;
  --color-attribute:    #8FB2DB;
  --color-value:        #A5F2D6;
  --color-literal:      #DFA5F2;
  --color-border:       rgba(255, 255, 255, 0.09);
  --color-alt-head:     rgba(255, 255, 255, 0.06);
  --color-alt:          rgba(255, 255, 255, 0.03);

  /* fonts */
  --body-font: 'Varela Round', sans-serif;
  --mono-font: 'Inconsolata', monospace;

  /* measurements */
  --max-width: 44em;
  --mobile-breakpoint: 640px;
  --body-size: 16px;
  --mono-size: 18px;
  --size-ratio: calc(16 / 18);
  --line-height: 1.5em;
  --border-radius: 3px;
  --big-border-radius: 5px;

}
