@custom-selector :--vocab body.vocabulary;

:--vocab {
  padding: 0;
}

:--vocab article {
  padding: 0;
  margin: 0;
  border: none;
}

:--vocab article h2 {
  margin-top: calc(var(--line-height) * 1 / 2);
  padding-top: 0;
}

:--vocab section {
  padding: calc(var(--line-height) * 1);
  max-width: 52em;
  margin: 0 auto;
}

:--vocab header {
  background-color: rgba(0, 0, 0, 0.06);
  border-bottom: 1px var(--color-alt-head) solid;
}

:--vocab header h1 {
  margin: 0;
}

:--vocab .type {
  text-decoration: none;
}

:--vocab .type:after {
  content: ', ';
}

:--vocab .type:last-of-type:after {
  display: none;
}

:--vocab .description {
  float: left;
  margin-right: calc(1em * 1 / 2);
}
